$carousel-control-color: #0E7C7B;

$primary: #8D98A7;
$secondary: #0E7C7B;
$success: #717744;
$info: #79BCB8;
$light: #79BCB8;
$dark: #14342B;
$happy: #C8E087;

$body-bg: #8D98A7;
$body-color: black;

$font-family-sans-serif: Arial Rounded MT;

$jumbotron-bg: #79BCB8;
$jumbotron-padding: 10px;

$card-border-width: 5px;
$card-border-color: #0E7C7B;

$input-bg: #C8E087;
$input-border-color: #79BCB8;
$input-border-width: 2px;

$toast-header-color: black;
$toast-header-background-color: #79BCB8;


@import 'Assets/scss/bootstrap';